.discussion__card{
    margin: 15px 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.card{
    width: 600px;
    box-shadow: 0 1px 5px 0px rgba(0,0,0,0.3);
}
.card__header{
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.heart__icon{
    cursor: pointer;
}
.vote__actions{
    padding: 5px;
    width: 60px;
    justify-content: space-between;
    cursor: pointer;
}
.card__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upvote__red{
    color: #E31B23
}